.listas{
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 300px;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 16%;
    margin-left: 9%;
} 
.li{
    text-decoration: none;
    margin-right: 2%;
    margin-left: 2%;
    border-bottom: 1%;
    border: 2px solid black;
}


